terraform/windows_amd64/*
.terraform/
*.tfstate
*.tfstate.backup
__pycache__/
**/__pycache__/
*.py[cod]
cloud-functions/daily_stocks/*.json
cloud-functions/financial_data/*.json
*.log
.env
dashboard/.evidence/
dashboard/build/
dashboard/node_modules/
dashboard/sources/**/connection.options.yaml
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
